button {
   width: 100px;
   height: 35px;
   margin: 5px;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
}

.list-container > .list {
    flex-basis: auto;
    min-width: 300px;
    flex-grow: 1;
}